body {
    background-color: #10041c; /* Fondo oscuro */
    color: white; /* Texto en blanco */
    font-family: Arial, sans-serif; /* Fuente general */
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: transparent; /* Fondo transparente para la barra de navegación */
  }
  
  .navbar-brand, .nav-link {
    color: white !important; /* Texto blanco para los enlaces */
  }
  
  .nav-link:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
  }
  
  .container-fluid {
    padding: 0 15px;
  }


  /*Home*/


  .centerLaptopText{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .innerLaptop{
    margin: 150px;
  }

  .innerLaptopH1{
    font-size: 120px;
  }